.table {
    border: 2px solid black;
    background-color: blueviolet;
    text-align: center;
    font-size: 18px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.button_up {
    border: 1px solid black;
    width: 160px;
    height: 50px;
    background-color: green;
    margin: 10px;
    border-radius: 7px;
    font-size: 19px;
}

.button_down {
    border: 1px solid black;
    width: 160px;
    height: 50px;
    background-color: red;
    margin: 10px;
    border-radius: 7px;
    font-size: 19px;
}

.upArrow::after {
    content: '\1F815';
}

.downArrow::after {
    content: '\1F817';
}




